<div class="jumbotron">
  <div class="container">
    <h1>Get list of the best tracks</h1>
    <p>
      <%= link_to 'Do this!', root_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
